.shape{
  font-family: 'Comfortaa', sans-serif;
  height:48px;
  display: inline-flex;
  align-items:center;
}



.number{
  display:flex;
  align-items:end;
  font-weight: 600;
}

.value{
  display: flex;
  align-items: baseline;
  font-size:40px;
}

.minus{
  font-size:12px;
  transform: translateY(-2px);
}

.units{
  font-size:12px;
}
