.shape {
  border-radius: 16px;
  overflow: hidden;
  display: inline-flex;
  user-select: none;
  color:#3E3E3E;

  &[data-highlighted="true"] {
    color: white;
    box-shadow: 0 4px 15px rgba(101, 214, 244, 0.14);

    .shapePart {
      background-color: #67DAF9;
    }

    .secondaryShapePart {
      background-color: #58BFDB;
    }
  }
}


.shapePart{
  box-sizing: border-box;
  padding:16px;
  flex: 1;
  height: 96px;

  background-color: #f0f0f0;

}

.secondaryShapePart{
  box-sizing: border-box;
  padding:16px;
  height: 96px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.readingsList{
  display: flex;
  align-items: center;

}

.readingsListItem{
  &:not(:last-child){
    margin-right:16px
  }
}

.additionalInfo{
  &:not(:last-child){
    margin-bottom:16px;
  }
}


