
.list{
  overflow:hidden;
}

.item{
  margin-bottom:4px;
  display:inline-block;
  color: #7b7b7b;
  &:hover {
    color: inherit;
  }
  font-size: 0.8rem;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 8px;
  }
  border-bottom: 1px dashed;
}

